#textdomain wesnoth-Invasion_from_the_Unknown

[scenario]
    id=06_The_Moon_Valley
    name= _ "The Moon Valley"
    {MAP 06_The_Moon_Valley.map}
    {TURNS 40 37 34}
    next_scenario=07_Goliath

    {DEATHS_ACT_1}

    {SCENARIO_MUSIC "revelation.ogg"}

    {STORYTXT_THE_MOON_VALLEY}

    {TWO_SUNS_DEFAULT_SCHEDULE}

    [time_area]
        {UNDERGROUND}
        x=1-16,1-15,1-13 ,1-12,1-11
        y=1-8 ,9   ,10-11,12  ,13-14
    [/time_area]

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        team_name=elves
        user_team_name= _ "team_name^Elves"

        {GOLD 275 250 240}

        # wmllint: recognize Galas
        {CHARACTER_STATS_GALAS}
    [/side]
    # wmllint: validate-on

    [side]
        side=2
        team_name=orcs
        user_team_name= _ "team_name^Orcs"

        {GOLD 200 230 260}
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Orcish Assassin,Orcish Warrior

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.50}
        [/ai]

        canrecruit=yes
        type=Orcish Warrior
        id=Durbaghar
        name= _ "Durbaghar"
        profile=portraits/orcs/transparent/grunt-2.png
    [/side]

    [side]
        side=3
        team_name=orcs
        user_team_name= _ "team_name^Orcs"

        {GOLD 250 275 300}
        {QUANTITY recruit
        (Orcish Grunt,Wolf Rider,Orcish Archer,Orcish Assassin,Orcish Warrior)
        (Orcish Grunt,Orcish Warrior,Wolf Rider,Orcish Archer,Orcish Slayer,Orcish Crossbowman)
        (Orcish Warrior,Wolf Rider,Orcish Slayer,Orcish Crossbowman)
        }

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.10}
        [/ai]

        canrecruit=yes
        type=Orcish Sovereign
        id=Kal Magar
        name= _ "Kal Magar"
    [/side]

    [side]
        side=4
        team_name=orcs
        user_team_name= _ "team_name^Orcs"

        {GOLD 150 175 200}
        recruit=Goblin Spearman,Wolf Rider,Orcish Archer,Orcish Grunt

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT grouping   defensive}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.90}
        [/ai]

        canrecruit=yes
        type=Orcish Slurbow
        id=Barglor
        name= _ "Barglor"
        profile=portraits/orcs/transparent/grunt-2.png
    [/side]

    [side]
        side=5
        team_name=orcs
        user_team_name= _ "team_name^Orcs"

        {GOLD 175 200 225}
        recruit=Goblin Spearman,Wolf Rider,Orcish Archer,Orcish Grunt,Goblin Rouser,Orcish Assassin

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT grouping   defensive}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.50}
        [/ai]

        canrecruit=yes
        type=Orcish Crossbowman
        id=Diglet
        name= _ "Diglet"
        profile=portraits/orcs/transparent/grunt-3.png
    [/side]

    {STARTING_VILLAGES_ALL 3}
    {STARTING_VILLAGES     1  5}
    {STARTING_VILLAGES     2 10}
    {STARTING_VILLAGES     4 10}
    {STARTING_VILLAGES     5 10}

    [event]
        name=prestart

        {PLAYER_RECRUITMENT_SETUP_FOR_SCENARIO 6}

        #
        # Recall heroes
        #

        # wmllint: recognize Anlindë
        {RECALL_ANLINDE}
        # wmllint: recognize Mal Keshar
        {RECALL_MAL_KESHAR}

        {ELVISH_SUPPORTER (supporter)}

        {FACE_DIRECTION side=1 nw}

        {PLACE_IMAGE scenery/mine-abandoned.png 2 34}
        {PLACE_IMAGE items/orcish-flag.png 42 12}
        {PLACE_IMAGE "items/orcish-flag.png~FL(horiz)" 20 20}
        {PLACE_IMAGE items/orcish-flag.png 14 13}
        {PLACE_IMAGE items/orcish-flag.png 17 10}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>green)" 12 7}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>green)~FL(horiz)" 10 10}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>purple)" 18 15}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>purple)" 23 11}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>blue)" 39 9}
        {PLACE_IMAGE "items/orcish-banner.png~FL(horiz)~RC(magenta>blue)" 45 9}
        {PLACE_IMAGE "items/orcish-banner.png~FL(horiz)~RC(magenta>brown)" 37 21}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>brown)" 34 23}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>brown)" 39 32}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>black)" 28 29}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>black)" 19 30}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>brown)" 36 34}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>purple)" 14 23}
        {PLACE_IMAGE "items/orcish-banner.png~RC(magenta>green)" 22 5}
        {PLACE_IMAGE items/scarecrow.png 28 9}
        {PLACE_IMAGE "items/scarecrow.png~FL(horiz)" 15 16}
        {PLACE_IMAGE "items/scarecrow.png~FL(horiz)" 19 17}
        {PLACE_IMAGE items/scarecrow.png 31 25}
        {PLACE_IMAGE items/scarecrow.png 40 28}
        {PLACE_IMAGE items/straw-bale1.png 41 30}
        {PLACE_IMAGE items/straw-bale2.png 44 27}
        {PLACE_IMAGE "items/grain-sheaf.png~FL(horiz)" 31 24}
        {PLACE_IMAGE items/grain-sheaf.png 22 17}
        {PLACE_IMAGE "items/straw-bale2.png~FL(horiz)" 16 14}
        {PLACE_IMAGE "items/straw-bale1.png~FL(horiz)" 27 9}
        {PLACE_IMAGE scenery/berry.png 26 8}
        {PLACE_IMAGE scenery/berry.png 28 12}
        {PLACE_IMAGE scenery/berry.png 29 24}
        {PLACE_IMAGE scenery/berry.png 17 17}
        {PLACE_IMAGE scenery/berry.png 16 20}
        {PLACE_IMAGE scenery/berry.png 44 29}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Defeat all enemy leaders to secure the valley")}

            {OBJECTIVE_DEFEAT  ( _ "Death of Galas")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Anlindë")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Mal Keshar")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=start

        [message]
            speaker=Mal Keshar
            message= _ "The valley of the Moon. Thousands of years ago, the people then living near here believed the end of the world had come. Rocks fell from the sky, which was dark for many days thereafter. There were earthquakes and other signs. When the sun returned, there being at that time only one, they found a vast smoking crater here; and that night there was blood on the face of the Greater Moon—"
        [/message]

        {REPLACE_SCENARIO_MUSIC "northerners.ogg"}

        [message]
            speaker=Anlindë
            message= _ "Orcs! This valley is infested with orcs!"
        [/message]

        [message]
            speaker=Diglet
            message= _ "Intruders! Alert the chieftain!"
        [/message]

        [message]
            role=supporter
            message= _ "Did you hear that?"
        [/message]

        [message]
            speaker=Galas
            message= _ "So, this was your cunning plan all along, Mal Keshar? To lead us to orcish territory and use us as fodder for their grunts? To expand your undead army?"
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "Ha, ha, ha! I could have killed you all in your sleep had that been my intention! What would be the point of bringing you to this place when ancient dead warriors abound nowadays? Speak, elf!"
        [/message]

        [message]
            speaker=Anlindë
            message= _ "Control your temper, you two — those orcs should really be our only concern for now. We have come this far and the sands we left behind hold no promise. If we want to lead our people to a new and hopeful future, we must fight. Unless Mal Keshar knows an alternate route?"
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "There certainly <i>are</i> more ways to reach the depths if you search for them amidst the tall cliffs of this region, but we will invariably come across unwelcoming natives who will not think twice before killing you and your subjects. Your people are not accustomed to the cold and steep heights of Irdya. If you were to ask me, I’d say you could use this valley to your advantage. Let the orcs fall and perish under the might of the last forest elves of the Great Continent!"
        [/message]

        [delay]
            time=750
        [/delay]

        [message]
            speaker=Galas
            message= _ "I do understand that this is our best option for now — it is to be expected from such a desperate and foolish quest. Let us prepare for battle, then. To arms!"
        [/message]

        [message]
            role=supporter
            message= _ "To arms!"
        [/message]

        {APPEND_MUSIC "battle.ogg"}
        {APPEND_MUSIC "loyalists.ogg"}
        {APPEND_MUSIC "legends_of_the_north.ogg"}
        {APPEND_MUSIC "casualties_of_war.ogg"}

        [message]
            speaker=Kal Magar
            message= _ "Intruders, you say? What have the scouts been up to all this time, that this was allowed to happen? Get rid of them <b>now</b>!"
        [/message]
    [/event]

    [event]
        name=side 1 turn 1 end

        [message]
            speaker=Anlindë
            message= _ "That did sound very convincing and leader-like, Mal Keshar. I am impressed."
        [/message]

        [message]
            speaker=Anlindë
            message={ASIDE ( _ "But trust me, nothing of this would work if it weren’t my goal to find them as well.")}
        [/message]

        [message]
            speaker=Mal Keshar
            message={ASIDE ( _ "Of course it wouldn’t. He, he.")}
        [/message]
    [/event]

    [event]
        name=turn 6

        [message]
            speaker=Galas
            message= _ "The Short Darkness begins to shroud the land, giving the orcs a new advantage."
        [/message]

        [message]
            speaker=Anlindë
            message= _ "The combination of the might of the undead and the effectiveness of our hunters will be a great help in surviving the darkness."
        [/message]
    [/event]

    [event]
        name=turn 11

        [message]
            speaker=Mal Keshar
            message= _ "Ahh, the Long Darkness approaches, at last! The undead hordes shall rise and crush these repulsive orcs!"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x=1-30
            y=1-17
            side=1
        [/filter]

        [redraw][/redraw]

        [scroll_to]
            x,y=18,8
        [/scroll_to]

        [delay]
            time=300
        [/delay]

        [scroll_to]
            x,y=13,15
        [/scroll_to]

        [delay]
            time=300
        [/delay]

        [scroll_to]
            x,y=17,13
        [/scroll_to]

        [delay]
            time=300
        [/delay]

        [message]
            speaker=Galas
            scroll=no
            message= _ "Those towers seem vacant, but there is something about them I mistrust. Be careful; it may be a trap of the orcs."
        [/message]

        [scroll_to]
            x,y=$x1,$y1
        [/scroll_to]
    [/event]

    [event]
        name=moveto
        [filter]
            x=1-21
            y=1-15
            side=1
        [/filter]

        [message]
            speaker=Kal Magar
            message= _ "So, our best warriors were unable to repel you, little elves? No matter — my bodyguards will send you to hell! Haw, haw, haw!"
        [/message]

        {ADD_GOLD 2 50  75 100}

        {ADD_GOLD 3 90 130 170}

        {ADD_GOLD 4 50  75 100}

        {ADD_GOLD 5 50  75 100}

        {NAMED_LOYAL_UNIT 3 (Orcish Crossbowman) 13 11 Vagkar ( _ "Vagkar")}

        {NAMED_LOYAL_UNIT 3 (Orcish Warrior) 14  9 Krislo ( _ "Krislo")}
        {NAMED_LOYAL_UNIT 3 (Orcish Warrior) 13  7 Urdo ( _ "Urdo")}

        {NAMED_LOYAL_UNIT 3 (Orcish Slayer) 9 12 Gremle ( _ "Gremle")}

        {NAMED_LOYAL_UNIT 3 (Orcish Warrior) 18  8 Fir ( _ "Fir")}
        {NAMED_LOYAL_UNIT 3 (Orcish Warrior) 13 15 Ewurk ( _ "Ewurk")}

        {NAMED_LOYAL_UNIT 3 ({DIFF (Orcish Crossbowman) (Orcish Crossbowman) (Orcish Slurbow)}) 17 13 Ceel ( _ "Ceel")}

        {SCROLL_TO 18 8}

        [redraw][/redraw]

        [delay]
            time=300
        [/delay]

        {SCROLL_TO 13 15}

        [redraw][/redraw]

        [delay]
            time=300
        [/delay]

        {SCROLL_TO 17 13}

        [redraw][/redraw]

        [delay]
            time=300
        [/delay]

        [message]
            speaker=Galas
            message= _ "Uh-oh."
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "Ah, the boy was right. It was a trap, and look — the orcs are calling upon reinforcements!"
        [/message]

#ifndef EASY
        {NAMED_UNIT 3 (Orcish Assassin) 14 12 Turgan ( _ "Turgan") (upkeep=free)}           # {NO_UPKEEP_NO_OVERLAY}
        {NAMED_UNIT 3 (Orcish Assassin) 21  9 Akir   ( _ "Akir")   (upkeep,facing=free,sw)} # {NO_UPKEEP_NO_OVERLAY}
#endif
#ifdef HARD
        {NAMED_UNIT 3 (Orcish Assassin) 19 13 Khur   ( _ "Khur")   (upkeep,facing=free,sw)} # {NO_UPKEEP_NO_OVERLAY}
#endif
    [/event]

    [event]
        name=last breath
        [filter]
            id=Barglor
        [/filter]

        [message]
            speaker=Barglor
            message= _ "Ouch! I’m vanquished..."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Durbaghar
        [/filter]

        [message]
            speaker=Durbaghar
            message= _ "Help!! Ack—"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Diglet
        [/filter]

        [message]
            speaker=Diglet
            message= _ "Nooo!! Why nobody protects mee..." # wmllint: no spellcheck
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Kal Magar
        [/filter]

        [message]
            speaker=Kal Magar
            message= _ "... My guards... are a bunch of incompetent... idiotic... fools... Argghhh—"
        [/message]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            [not]
                side=1
            [/not]
            canrecruit=yes
        [/filter]

        {RANDOM "25,30,35,40,45,50,55"}

        {RETRIEVE_GOLD $random}

        {CLEAR_VARIABLE random}
    [/event]

    [event]
        name=enemies defeated

        {ENDLEVEL_VICTORY yes}
    [/event]

    [event]
        name=victory

        [message]
            speaker=Galas
            message= _ "Our job here is finished. To the caves!"
        [/message]
    [/event]
[/scenario]

# kate: indent-mode normal; encoding utf-8; space-indent on;
