#textdomain wesnoth-Invasion_from_the_Unknown
[scenario]
    {BOSS_SCENARIO 3 18 _"Armageddon"}
    next_scenario=19_Wesmere

    {EX_SCENARIO_MUSIC_PLAYLIST (
        {EX_MUSIC        "nunc_dimittis.ogg"}
        {EX_MUSIC_APPEND "snowfall.ogg"}
    )}

    {SHORTDARK}

    {STORYTXT_INFESTED_PASS}
    {STORYMAP_INFESTED_PASS}

    [side]
        type=Elvish Hero
        description=Galas
        user_description= _ "Galas"
        unrenamable=yes
        side=1
        canrecruit=1
        controller=human
        team_name=good
        income=-2
    [/side]

    # Boss supporters
    [side]
        side=2
        no_leader=yes
        team_name=foes
        colour=green
        gold=0
        {CHAOS_FLAG}
        village_gold=0
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Sentry Drone) 17 8}
        {SHAXTHAL_MAKE_SURFACE_VARIATION}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Sentry Drone) 3 9}
        {SHAXTHAL_MAKE_SURFACE_VARIATION}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Sentry Drone) 13 8}
        {SHAXTHAL_MAKE_SURFACE_VARIATION}
        {GENERIC_UNIT_AUTOSIDE (Blood Imp) 8 5}
        {GENERIC_UNIT_AUTOSIDE (Blood Imp) 14 5}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Runner Drone) 10 9}
        {SHAXTHAL_MAKE_SURFACE_VARIATION}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Sentry Drone) 15 11}
        {SHAXTHAL_MAKE_SURFACE_VARIATION}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Sentry Drone) 6 12}
        {SHAXTHAL_MAKE_SURFACE_VARIATION}
        {MAKE_FACING_REVERSE}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Sentry Drone) 12 14}
        {SHAXTHAL_MAKE_SURFACE_VARIATION}
        {GENERIC_UNIT_AUTOSIDE (Gutwrencher Imp) 8 13}
        {GENERIC_UNIT_AUTOSIDE (Demon Zephyr) 8 18}
        {GENERIC_UNIT_AUTOSIDE (Demon Zephyr) 17 18}
        {GENERIC_UNIT_AUTOSIDE (Iron Golem) 10 17}
    [/side]

    # Boss
    [side]
        side=3
        no_leader=yes
        team_name=foes
        colour={COLOR_YELLOW}
        gold=0
        {CHAOS_FLAG}
        [ai]
            # Dumb kamikaze-style AI which just wants to kill, no matter how
            # it should be. Focus on the leader anyway.
            leader_value=6
            caution=0.0
            aggression=1.0
            # Don't even think on recruiting; might save a few milliseconds
            # of gameplay, not sure.
            recruitment_pattern=""
            village_value=0.0
        [/ai]
        village_gold=0
    [/side]

    # Biomechanical birds
    [side]
        no_leader=yes
        side=4
        gold=0
        income=-2
        {IS_HOSTILE_NPC}
        colour=black
        team_name=foes
        {CHAOS_FLAG}

        {GENERIC_UNIT_AUTOSIDE (Shaxthal Thunderbird) 18 18}
#ifdef HARD
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Thunderbird) 2 17}
#else
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Razorbird) 2 17}
#endif
#ifdef EASY
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Razorbird) 10 18}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Razorbird) 17 7}
#else
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Thunderbird) 10 18}
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Thunderbird) 17 7}
#endif
        {GENERIC_UNIT_AUTOSIDE (Shaxthal Thunderbird) 2 8}
    [/side]

    {NPC_BIRD_BEHAVIOR 4 1 20 1 20}

    {BOSS_SCENARIO_PLAYER_RECRUITMENT}

    [event]
        name=prestart
        # Recall heroes
        {RECALL Elynia}
        {RECALL (Mal Keshar)}
        {RECALL Igor}
        {RECALL Erathan}

        [objectives]
            side=1
            {OBJECTIVE_TO_WIN ( _ "Defeat all your oponents")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Elynia")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Mal Keshar")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Erathan")}
            {OBJECTIVE_NOTES {BOSS_OBJECTIVES_FOOTNOTE} }
        [/objectives]
    [/event]

    [event]
        name=start
        {MSG_UNIT Galas ( _ "Ah, great. Now we are surrounded by these creeps.")}
        {MSG_UNIT (Mal Keshar) ( _ "According to my calculations, we are about to reach Wesmere's territory. That might explain why we stumbled upon them.")}
        {MSG_UNIT Galas ( _ "Of course, they protect Wesmere. But why? Is there anything important in there?")}
        {MSG_UNIT Elynia ( _ "I don't know. The connection with Inferno that was opened there was closed by me and Argan long ago. It is possible that it was opened again, or that they set something else on the area.")}
        {MSG_INNER ( _ "What happens, Galas? Are you hesitating? Kill them, kill your enemies. Feel the pleasure of their blood in your hands.")}
        {MSG_UNIT Galas ( _ "Kill them, now! Don't leave any of those beasts alive!")}
        {MSG_UNIT (Mal Keshar) ( _ "I thought I was the only enthusiast here on killing foes.")}
        {MSG_UNIT Elynia ( _ "Galas? Are you sure you are alright?")}
        {MSG_INNER ( _ "You don't dare tell her, huh? Is it that you fear treason on part of your 'friends'? That is normal enough; in this harsh new world, friendship has not the value it used to have in the past. But there is another way...")}
        {MSG_UNIT Galas ( _ "It must be just the heat of the lava.")}
    [/event]

    [event]
        name=new turn
        first_time_only=no
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [or]
                [have_unit]
                    side=3
                [/have_unit]
            [/or]
            [else]
                {MSG_UNIT Elynia ( _ "Did you hear that?")}
                # Spawn the Boss
                {SPAWN_BOSS_UNIT (Armageddon Imp) boss3 ( _ "The Armageddon") 3 10 17 116% 1 0 2 0}
#ifndef EASY
                {ANONYMOUS_UNIT (Shaxthal Protector Drone) 3 14 16}
#endif
                {ANONYMOUS_UNIT (Shaxthal Protector Drone) 3 6 16}
#ifndef EASY
                {ANONYMOUS_UNIT (Gutwrencher Imp) 3 6 19}
#endif
                {ANONYMOUS_UNIT (Gutwrencher Imp) 3 14 19}
#ifdef HARD
                {ANONYMOUS_UNIT (Chaos Soulhunter) 3 15 16}
#endif
                {BOSS_AMBIENTANCE}
                {REDRAW}
                [scroll_to_unit]
                    description=boss3
                [/scroll_to_unit]

                {MSG_UNIT boss3 ( _ "You are toast. Although the Shadow Master would be pleased to meet you, I'm afraid it's my duty to crush you and bury your remains into the sands.")}
                {MSG_UNIT Galas ( _ "The Shadow Master? Is that then the name of the obnoxious ruler of the Empire?")}
                {MSG_UNIT Elynia ( _ "Brute force will not defeat us, specially when applied by a foul sickening enemy such as you and your pals.")}
                {MSG_UNIT boss3 ( _ "We'll see. The Master specially wants to meet you, pitiful fairy, but nothing will be left of you at the end of this day!")}
                {MSG_UNIT (Mal Keshar) ( _ "Unless we toast you first!")}

                [objectives]
                    side=1
                    {BOSS_OBJECTIVES_TO_WIN}
                    {OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
                    {OBJECTIVE_TO_LOSE ( _ "Death of Elynia")}
                    {OBJECTIVE_TO_LOSE ( _ "Death of Mal Keshar")}
                    {OBJECTIVE_TO_LOSE ( _ "Death of Erathan")}
                    {OBJECTIVE_NOTES {BOSS_OBJECTIVES_FOOTNOTE} }
                [/objectives]
                # Enable victory trigger event
                [event]
                    name=die
                    [filter]
                        description=boss3
                    [/filter]
                    {MSG_UNIT Elynia ( _ "And so passes the biggest imp ever seen...")}
                    {MSG_UNIT Galas ( _ "Let's not further delay our journey now. It's time to advance to the south, but beware, for we don't know exactly what we'll face in the Chaos domain.")}
                    {MSG_INNER ( _ "Yes, you come to my domain of darkness; wherever darkness is, I shall be to haunt you. You cannot escape influence, Galas, I warn you.")}
                    {ENDLEVEL_VICTORY yes}
                [/event]
            [/else]
        [/if]
    [/event]

    {DEATHS_COMMON}
[/scenario]
