#textdomain wesnoth-Invasion_from_the_Unknown

[unit]
    id=Elvish Ancestor
    name= _ "Ancestor"
    race=elvish_spirits
    image="units/undead/elvish-ancestor.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=25
    movement_type=undeadspirit
    [defense]
        forest=40
    [/defense]
    [resistance]
        arcane=120
    [/resistance]
    {TRAIT_FEARLESS_MUSTHAVE}
    movement=7
    experience=90
    level=2
    alignment=chaotic
    advanceto=Elvish Forefather
    [abilities]
        {ABILITY_TERROR_LEVEL_2}
        {ABILITY_SYLVAN_SPARK}
    [/abilities]
    cost=44
    usage=mixed fighter
    unit_description= _ "Revered warriors of old roam through the elven forests, visible only due to their shining silver swords. They are only partially present in the mortal realm, and wounds close as if they had never existed. Their voice can whisper in the wind words that chill the hearts of their enemies, making them, ocassionally, abandon the fight prematurely, or even die of sheer fear."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_TERROR}+{SPECIAL_NOTES_SYLVAN_SPARK}
    die_sound=wail-long.wav
    [attack]
        name=ancient blade
        description= _ "ancient blade"
        icon=attacks/astral-blade.png
        type=arcane
        range=melee
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=requiem
        description= _ "requiem"
        icon=attacks/wail.png
        type=cold
        range=ranged
        damage=3
        number=3
    [/attack]
    [attack_anim]
        [attack_filter]
            name=ancient blade
        [/attack_filter]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225
        [frame]
            duration=200
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/elvish-ancestor.png"
            sound=wail-sml.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/undead/elvish-ancestor.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/undead/elvish-ancestor.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/undead/elvish-ancestor.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [attack_filter]
            name=requiem
        [/attack_filter]
        {MISSILE_FRAME_WAIL}
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/undead/elvish-ancestor.png"
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/undead/elvish-ancestor.png"
                sound=wail.wav
            [/frame]
        [/else]
    [/attack_anim]
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=1
                image="units/undead/elvish-ancestor.png"
            [/frame]
            [frame]
                duration=100
                image="units/undead/elvish-ancestor.png"
            [/frame]
            [frame]
                duration=150
                image="units/undead/elvish-ancestor.png"
                sound=wail.wav
            [/frame]
            [frame]
                duration=1
                image="units/undead/elvish-ancestor.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
            [frame]
                duration=1
                image="units/undead/elvish-ancestor.png"
            [/frame]
            [frame]
                duration=100
                image="units/undead/elvish-ancestor.png"
            [/frame]
            [frame]
                duration=150
                image="units/undead/elvish-ancestor.png"
            [/frame]
            [frame]
                duration=1
                image="units/undead/elvish-ancestor.png"
            [/frame]
        [/else]
    [/defend]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/elvish-ancestor.png"
        [/frame]
    [/standing_anim]
    [leading_anim]
        start_time=0
        [frame]
            duration=0
            image="units/undead/elvish-ancestor.png"
        [/frame]
    [/leading_anim]
[/unit]
