#textdomain wesnoth-Invasion_from_the_Unknown

[unit_type]
    id=Shadow Spawn
    name= _ "Shadow Spawn"
    race=undead
    image="units/undead/shadow-spawn.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=29
    movement_type=gruefoot
    movement=4
    experience={AMLA_EXPERIENCE 50}
    level=1
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=21
    usage=fighter
    description= _ "Only those adept in the arts of true darkness can create the abominations known as the Shadow Spawn. A Shadow Spawn is essentially a spirit composed of dark energy that is created by combining necromantic magic with magic of true darkness. Like some undead, they possess the necromantic ability to raise the corpses of those they kill to the cruel world of unlife."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PLAGUE}
    die_sound=wail-long.wav
    [resistance]
        blade=50
        pierce=50
        impact=50
        fire=90
        cold=30
        arcane=140
    [/resistance]
    [attack]
        name=touch
        description={STR_TOUCH}
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/undead/shadow-spawn.png" "units/undead/shadow-spawn.png" wail.wav }
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-150
        [frame]
            duration=50
            image="units/undead/shadow-spawn.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/shadow-spawn.png"
            sound=wail-sml.wav
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=50
            image="units/fake/explosion-a-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-4.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-5.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-6.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-7.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-8.png"
        [/frame]
        [frame]
            duration=50
            image="units/fake/explosion-a-9.png"
        [/frame]
    [/death]
[/unit_type]
