#textdomain wesnoth-Invasion_from_the_Unknown

#define JOURNEYLOG_FRAGMENT _ID _TEXT
	[fragment]
		id={_ID}
		text={_TEXT}
	[/fragment]
#enddef

[world_entry]
	id="glyph01"
	title= _ "Records of Unknown Origin #01"
	source=09_The_Library

	{JOURNEYLOG_FRAGMENT library1
	( _ "Untold eons ago, long before the consolidation of the physical realm, the scions of Light and Darkness waged an endless war of attrition, seeking naught but the complete obliteration of one another. Then, <b>Yarae the Arcane Lord</b> appeared and took it upon himself to bring a final solution to the conflict.

With his great might, he created ten <b>Guardians</b> of his own design, each of them bestowed with absolute power upon the aspects that give shape and form to the cosmos.")}

	{JOURNEYLOG_FRAGMENT library2
	( _ "Thus Yarae reigned supreme upon Light and Darkness. Wisdom and moderation were instrumental in this role, and he and his retinue brought peace and prosperity for all for a long eternity. But, one day, he was compelled by an unknown force to turn against his peers, the <b>gods of Light and Darkness</b>.")}

	{JOURNEYLOG_FRAGMENT library3
	( _ "As he fell victim to this corrupting influence, so did all but three of the original Ten Guardians. Yarae led his divine delegates and their subjects against the gods of Light and Darkness, and once again wreaked chaos and destruction upon all that existed.")}

	{JOURNEYLOG_FRAGMENT library4
	( _ "Despite the best efforts of the three traitors in thwarting their fellow Guardians and repelling their armies, ruination and devastation became inevitable for all. As they made one last stand against Yarae and his ultimate warrior, the gods of Light and Darkness descended upon the remains of the domain of Life and joined their forces to become a new being capable of vanquishing Yarae: the <b>Avatar of the Union of Light and Darkness</b>.")}

	# po: Redacted, in order: Uria, Xia'el, Delethia
	{JOURNEYLOG_FRAGMENT library5
	( _ "The combined power of the gods wielded by the Avatar of the Union was enough to obliterate all of existence, but they also recognized that the Arcane Lord would never yield to a force that was his own to command. Thus, the Avatar put an end to Yarae’s rebellion by physically banishing him into the Void between worlds.

In the aftermath of the chaos, ████ and ██████ were tasked with keeping guard over the many subjects corrupted by Yarae’s touch, while ████████ attended to reversing the grave damage wreaked upon the physical realm. The power of the Union was lastly used to seal the fallen creatures away in a realm of their own: <b>Inferno</b>.")}

	{JOURNEYLOG_FRAGMENT library6
	( _ "Thus the power of the gods faded from existence, their final legacy being an empty vessel in the form of the <b>Body of the Union</b>, and twin orbs holding the primordial essences of <b>Light</b> and <b>Darkness</b>.

Fearful about the possibility of the successors of the Ten falling prey to the same corruption or Yarae escaping imprisonment, the three Guardians hid the relics away within the domains of Ethea, Irdya, and Norsula. Should circumstances arise necessitating a new divine intervention, a being of Light and a being of Darkness shall both assume the mantle to protect reality from oblivion, blessed with the legacy of the gods; and once both join their spirits, they shall become the new Avatars of the Union. And so the cycle will repeat until the withering of the Tree at the end of eternity.")}
[/world_entry]

[world_entry]
	id="fieldreport01"
	title= _ "Chaos Warlord Field Report #452"
	source=21_Innuendo
	requires_milestone=fieldreport01
	# Text by vultraz.
	text= _ "The elf sorceress is dead. I did not expect her to bring the entire cavern down on us; sadly for her, I simply dug my way out of the rubble with the help of a few drone servants. Even had I not seen her crushed and broken body, I knew there was no way she could have saved herself — not that the vacuous creature would have done so anyway. A curious trait, self-sacrifice. Unfortunately, she managed to buy the Lady of Light time to escape. But no matter. In the end, they will come to us..."
[/world_entry]
