#textdomain wesnoth-Invasion_from_the_Unknown

#ifhave ~add-ons/Naia/loader.cfg

#define _naia:img
data/add-ons/Naia/images#enddef

#define _naia:ach segment
{~add-ons/Naia/achievements_{segment}.cfg}#enddef

#else
#ifhave ~add-ons/Invasion_from_the_Unknown/Naia/loader.cfg

#define _naia:img
data/add-ons/Invasion_from_the_Unknown/Naia/images#enddef

#define _naia:ach segment
{~add-ons/Invasion_from_the_Unknown/Naia/achievements_{segment}.cfg}#enddef

#else

#warning Naia loading error. Achievement utils for this add-on are unavailable.
#define _naia:img
#enddef
#define _naia:ach segment
#enddef

#endif
#endif

{_naia:ach prologue}

{ETHEA_ACHIEVEMENTS Invasion_from_the_Unknown _"Invasion from the Unknown"}

#
# Main storyline
#

{ETHEA_ACHIEVEMENT mal_keshar
attacks/wail.png
( _ "Descent into Darkness")
( _ "Defeat the remnant of a bygone era")}

{ETHEA_ACHIEVEMENT goliath
icons/hat-huntsman.png
( _ "The Elf Versus Goliath")
( _ "Take down the Mechanical Goliath")}

{ETHEA_ACHIEVEMENT source_of_light
icons/key_silver.png
( _ "Multi-Factor Authentication")
( _ "Unlock the central chamber in The Source of Light")}

{ETHEA_ACHIEVEMENT chaos_warlord_1 ()
( _ "Requiescat in Pace")
( _ "Defeat the Chaos Warlord in Herthgar")
HIDDEN=yes}

{ETHEA_SPOILER_ACHIEVEMENT hekuba_1
attacks/staff-necromantic.png
( _ "Master of Puppets")
( _ "Force Mal Hekuba to flee")}

{ETHEA_SPOILER_ACHIEVEMENT hekuba_2
attacks/staff-plague.png
( _ "Hallowed Be Thy Name")
( _ "Force Mal Hekuba to flee, again")}

{ETHEA_SPOILER_ACHIEVEMENT chaos_emperor_0
attacks/gaze.png
( _ "It Stares Back")
( _ "Set Galas free")}

{ETHEA_SPOILER_ACHIEVEMENT chaos_warlord_2 ()
( _ "Fiery Pursuit")
( _ "Escape Elyssa")}

{ETHEA_SPOILER_ACHIEVEMENT union_obtained ()
( _ "Friendship is Destructive")
( _ "Summon the Union for the first time")}

{ETHEA_SPOILER_ACHIEVEMENT chaos_warlord_3 ()
( _ "The Hunter Becomes the Hunted")
( _ "Defeat Elyssa")}

{ETHEA_ACHIEVEMENT chaos_emperor_1 ()
( _ "Till Death...")
( _ "Learn the fate of the Master of Darkness")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT chaos_emperor_3 ()
( _ "Et Tu, Elynia?")
( _ "Set Galas free... again")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT chaos_emperor_2 ()
( _ "... Do Us Part")
( _ "Set Argan free")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT chaos_emperor_4 ()
( _ "Fallen But Forgotten")
( _ "... Didn’t we forget something back there?")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT iftu_end ()
( _ "Invasion from the Unknown")
( _ "Finish the campaign")}

#
# Cumulative
#

{ETHEA_ACHIEVEMENT loot_chests
icons/coins_copper.png
( _ "Coin Collector")
( _ "Loot every chest")
MAX_PROGRESS=10}

#
# Items
#

{ETHEA_ACHIEVEMENT speed_ring
data/add-ons/Invasion_from_the_Unknown/images/icons/ring-gold.png
( _ "I Must Proceed At Increased Horizontal Velocity")
( _ "Obtain the Ring of Swiftness")}

{ETHEA_ACHIEVEMENT petrichor_staff
attacks/staff-ruby.png
( _ "Don’t Look in the Mirror")
( _ "Steal the Staff of Petrichor from the sorcerer’s tomb")}

{ETHEA_ACHIEVEMENT regeneration_ring
data/add-ons/Invasion_from_the_Unknown/images/icons/ring-copper.png
( _ "You Need Healing")
( _ "Procure the Ring of Regeneration")}

{ETHEA_ACHIEVEMENT shardias_meteor
data/add-ons/Invasion_from_the_Unknown/images/attacks/meteor-hammer.png
( _ "Caution: Contents Hot")
( _ "Retrieve Shardia’s Meteor")}

{ETHEA_ACHIEVEMENT void_armor
data/add-ons/Invasion_from_the_Unknown/images/icons/void-armor.png
( _ "Sidetracked")
( _ "Find the Void Armor")}

{ETHEA_ACHIEVEMENT poisonous_bow
attacks/bow-orcish.png
( _ "Do Not Touch The Operational End")
( _ "Equip the Poisonous Bow")}

{ETHEA_ACHIEVEMENT explosive_arrows
attacks/bow-short-reinforced.png
( _ "Danger: Explosive Materials")
( _ "Receive the Explosive Arrows")}

{ETHEA_ACHIEVEMENT accuracy_bow
attacks/bow-elven-magic.png
( _ "Accuracy Bow For Short")
( _ "Arm the Enchanted Longbow of Visual Acuity")}

{ETHEA_ACHIEVEMENT chilling_blade
{_naia:img}/attacks/glacial-gladius.png
( _ "Sword Goes Brrrrrrrr")
( _ "Get your hands on the Glacial Gladius")}

{ETHEA_SPOILER_ACHIEVEMENT revenant_ring
icons/skull_ring.png
( _ "All Roads Lead to Parthyn")
( _ "Acquire the Ring of the Revenant")}

#
# Other events
#

{ETHEA_SPOILER_ACHIEVEMENT igor_found
attacks/fangs-animal.png
( _ "Underground K-9 Unit")
( _ "Meet Igor and his ferocious mount")}

{ETHEA_SPOILER_ACHIEVEMENT igor_survived
icons/amla-default.png
( _ "Underdog Victory")
( _ "Keep Igor and his mount alive until the end of the campaign")}

{ETHEA_ACHIEVEMENT glyph01 ()
( _ "Genesis")
( _ "Obtain the entirety of <i>Records of Unknown Origin #01</i>")}

{ETHEA_ACHIEVEMENT argazar_shaxthal_backstory ()
( _ "Between Times")
( _ "Obtain the entirety of <i>Records of Unknown Origin #02</i>")}

{ETHEA_ACHIEVEMENT irylean ()
( _ "I Am The Night")
( _ "Let that necromancer play with her new winged pets")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT turin
data/add-ons/Invasion_from_the_Unknown/images/icons/ach-doom.png
( _ "Now I’m Undead! That Can’t Be Good!")
( _ "Master of Doom, by Doom mastered, and back from the dead")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT revenant_hamadryad ()
( _ "Second Life")
( _ "Resurrected a Faerie Spirit as a Hamadryad")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT revenant_bat ()
( _ "Neep, Neep?")
( _ "Resurrected a Bat using the Ring of the Revenant")
HIDDEN=yes}

{_naia:ach epilogue}
