#textdomain wesnoth-Invasion_from_the_Unknown

#
# Naia library
#

#ifhave ~add-ons/Naia/loader.cfg
{~add-ons/Naia/loader.cfg}

[binary_path]
    path="data/add-ons/Naia"
[/binary_path]
#else
#ifhave ./Naia/loader.cfg
#define NAIA_PREFIX
~add-ons/Invasion_from_the_Unknown/Naia#enddef
{~add-ons/Invasion_from_the_Unknown/Naia/loader.cfg}

[binary_path]
    path="data/add-ons/Invasion_from_the_Unknown/Naia"
[/binary_path]
#endif
#endif

#ifndef NAIA_VERSION
#error Naia or a Naia base library component is missing. Cannot continue loading this add-on.
#endif

#
# Local library
#

# LD provides a simpler, shorter way of including WML files by using only
# relative paths (to the add-on's directory).
#define LD __PATH__
{~add-ons/Invasion_from_the_Unknown/{__PATH__}}#enddef

{LD /mainline-strings.cfg}

#ifndef EDITOR

#ifndef __WMLUNITS__

# DIFF includes WML conditionally depending on the selected difficulty. I
# prefer this to mainline's ON_DIFFICULTY macro, which has an exceedingly
# long name for such an ubiquitous purpose. There is no whitespace (e.g.
# tabs, newlines, blanks) around the inclusions in order to avoid issues
# when the substitution is performed in middle of a string literal.
#ifdef EASY
#define DIFF _ON_EASY _ON_NORMAL _ON_HARD
{_ON_EASY}#enddef
#endif
#ifdef NORMAL
#define DIFF _ON_EASY _ON_NORMAL _ON_HARD
{_ON_NORMAL}#enddef
#endif
#ifdef HARD
#define DIFF _ON_EASY _ON_NORMAL _ON_HARD
{_ON_HARD}#enddef
#endif

# NOTE: do not change the order in which these files are preprocessing unless
# you are very sure of what you are doing.

[lua]
    code = <<
        PROJECT_ETHEA_RECONSTRUCTION_VERSION = '>>+"{LD dist/VERSION}"+<<'

        naia_register_package {
            global_id       = 'project_ethea.Invasion_from_the_Unknown',
            name            = 'Invasion from the Unknown',
            version         = PROJECT_ETHEA_RECONSTRUCTION_VERSION,
            abbreviation    = 'IftU',
            tracker_url     = 'https://github.com/project-ethea/Invasion_from_the_Unknown/issues',
            forum_thread    = 'https://forums.wesnoth.org/viewtopic.php?t=43309',
            maintainer_mode = wesnoth.have_file('~add-ons/Invasion_from_the_Unknown/base-maint.cfg'),
        }

        check_host_compatibility('1.13.12', '1.14.x', {}, false)
        check_addon_compatibility()

        -- Global helper function table.
        helper = wesnoth.require "lua/helper.lua"

        -- Load local code files.
        for i, file in ipairs {
            'overrides.lua',
            'theme.lua',

            'gui/character_descriptions_prompt.lua',
            'gui/intermission_prompt.lua',
            'gui/outro_teaser.lua',

            'Invasion_from_the_Unknown.lua',
        }
        do
            wesnoth.dofile('~add-ons/Invasion_from_the_Unknown/lua/' .. file)
        end
    >>
[/lua]

#endif

{LD /base-debug.cfg}

{LD /base-rc.cfg}
{LD /macros}

[+units]
    {LD /units}
[/units]

#ifndef __WMLUNITS__

{GLOBAL_EVENTS ({LD /global-events.cfg})}

#define MAP __FILE__
    map_data="{LD /maps/{__FILE__}}"
#enddef

#define MASK __FILE__
    mask="{LD /masks/{__FILE__}}"
#enddef

#define SHROUD_DATA __FILE__
    shroud_data="{LD /masks/{__FILE__}}"
#enddef

{LD /scenarios}

#endif

#endif

# EOF

# kate: indent-mode normal; encoding utf-8; space-indent on;
