#textdomain wesnoth-Invasion_from_the_Unknown

# Requires: base-utils.cfg

# Supposedly superseded by VARIABLE on Wesnoth 1.3.1
#define VARIABLE_F VAR_ID NF_RVALUE
    {VARIABLE_OP {VAR_ID} format {NF_RVALUE} }
#enddef
#define VARIABLE_L VAR_ID NF_RVALUE
    {VARIABLE_OP {VAR_ID} literal {NF_RVALUE} }
#enddef

#define TIMESTAMP_TO_VARIABLE VAR_ID
    {VARIABLE_OP {VAR_ID} time stamp }
#enddef

##define MAP_HEIGHT_TO_VARIABLE VAR_ID
#   {VARIABLE_OP {VAR_ID} map_size y }#enddef
##define MAP_WIDTH_TO_VARIABLE VAR_ID
#   {VARIABLE_OP {VAR_ID} map_size x }#enddef

#define VARIABLE_CONCATENATE VAR_ID RVALUE
    {VARIABLE {VAR_ID} "${VAR_ID}|{RVALUE}"}
#enddef
# Requires Wesnoth 1.5.0+svn
# #define VARIABLE_FROM_STRLEN VAR_ID RVALUE
#     {VARIABLE_OP {VAR_ID} string_length {RVALUE} }
# #enddef
#define VARIABLE_RANDOM VAR_ID RVALUE
    {VARIABLE_OP ({VAR_ID}) random ({RVALUE}) }
#enddef

# short aliases
#define VARIABLE_CAT VAR_ID RVALUE
    {VARIABLE_CONCATENATE {VAR_ID} {RVALUE} }
#enddef
##define VARIABLE_RND VAR_ID RVALUE
#   {VARIABLE_RANDOM {VAR_ID} {RVALUE} }#enddef

# FIXME: this abreviated form became ambiguous on Wesnoh 1.3.13 due to the introduction
# of the 'rand' operator for variables on MP! This should be deprecated for 1.5.2 as suggested in the C++
# code.
#define VARIABLE_RAND VAR_ID RVALUE
    {VARIABLE_RANDOM {VAR_ID} {RVALUE} }
#enddef

#define VARIABLE_LEXICAL_EQUALS VAR_ID RVALUE
    [variable]
        name={VAR_ID}
        equals={RVALUE}
    [/variable]
#enddef

#define VARIABLE_LEXICAL_NOT_EQUALS VAR_ID RVALUE
    [variable]
        name={VAR_ID}
        not_equals={RVALUE}
    [/variable]
#enddef

# Requires Wesnoth 1.3.10
#define VARIABLE_LEXICAL_CONTAINS VAR_ID RVALUE
    [variable]
        name={VAR_ID}
        contains={RVALUE}
    [/variable]
#enddef

# Requires Wesnoth 1.3.2
#define VARIABLE_BOOLEAN_EQUALS VAR_ID RVALUE
    [variable]
        name={VAR_ID}
        boolean_equals={RVALUE}
    [/variable]
#enddef

# Requires Wesnoth 1.3.2
#define VARIABLE_BOOLEAN_NOT_EQUALS VAR_ID RVALUE
    [not]
        [variable]
            name={VAR_ID}
            boolean_equals={RVALUE}
        [/variable]
    [/not]
#enddef

# Requires Wesnoth 1.5.0+svn
# #define VARIABLE_BOOLEAN_NOT_EQUALS VAR_ID RVALUE
#     [variable]
#         name={VAR_ID}
#         boolean_not_equals={RVALUE}
#     [/variable]
# #enddef
