#textdomain wesnoth-Invasion_from_the_Unknown

######### BARRENLAND #########
[terrain]
    id=wasteland
    name= _ "Wasteland"
    symbol_image=wasteland
    string=Zw
    aliasof=Uu
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]

######### DARK HIVE TERRAINS #########
[terrain]
    id=dark-hive-floor
    name= _ "Dark Hive"
    symbol_image=dark-hive/floor
    string=Yhr
    aliasof=Gt
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]
[terrain]
    id=dark-hive-surface
    name= _ "Dark Hive"
    symbol_image=dark-hive/surface
    string=Yhs
    aliasof=Gt
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]
[terrain]
    id=lair-floor
    name= _ "Dark Hive"
    symbol_image=dark-hive/lair
    string=Yhl
    aliasof=Gt
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]

######### MAINLINE TERRAIN VARIATIONS #########
# Custom variations of mainline terrains, that have
# the same UI name.

[terrain]
    symbol_image=inferno-abyss1
    id=abyss-inferno
    name={STR_CHASM}
    string=Qxs
    aliasof=Qt
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]

[terrain]
    symbol_image=volcanic-abyss
    id=abyss-volcanic
    name={STR_CHASM}
    string=Qxv
    aliasof=Qt
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]

[terrain]
    symbol_image=dark-tile
    id=dark-road
    name={STR_ROAD}
    string=Ryd
    aliasof=Gt
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]

# phantom castle
[terrain]
    symbol_image=dark-castle-tile
    id=dark-castle
    name={STR_CASTLE}
    string=Uu^Cd
    aliasof=Ch
    heals=false
    gives_income=false
    recruit_onto=true
    no_overlay=true
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]

# phantom keep
[terrain]
    symbol_image=dark-keep-tile
    id=dark-keep
    name={STR_KEEP}
    string=Uu^Kd
    aliasof=Ch
    heals=false
    gives_income=false
    recruit_onto=true
    recruit_from=true
    no_overlay=true
    editor_group=wesnoth-UMC-Invasion_from_the_Unknown
[/terrain]

