#textdomain wesnoth-Invasion_from_the_Unknown

[unit]
    id=Dwarvish Steamcopter
    name= _ "Steamcopter"
    race=dwarf
    {TRAITS_SET_COPTER}
    image="units/dwarves/steamcopter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=fly
    movement=7
    experience=150
    level=2
    alignment=neutral
    advanceto=null
    {AMLA_DEFAULT}
    cost=27
    undead_variation=dwarf
    usage=scout
    unit_description= _ "With the aid of steam genies, Steamcopters are able to move faster and carry more bombs than Gyrocopters."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/steamcopter.png" "units/dwarves/steamcopter.png" {SOUND_LIST:DWARF_HIT} }
    [resistance]
        blade=110
        pierce=80
        impact=100
        fire=120
        cold=100
        arcane=90
    [/resistance]
    [movement_costs]
        cave=5
        fungus=5
    [/movement_costs]
    [attack]
        name=bombs
        description= _ "bombs"
        icon=attacks/magic-missile.png
        type=impact
        range=ranged
        damage=10
        number=3
    [/attack]
    {MISSILE_FRAME_BOMB (name=bombs)}
[/unit]
