#textdomain wesnoth-Invasion_from_the_Unknown

[unit]
    id=Steppe Flanker
    name= _ "Steppe Flanker"
    race=goblin
    image="units/goblins-steppe/flanker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=steppescout
    movement=6
    experience=150
    level=2
    alignment=chaotic
    advanceto=null
    {AMLA_DEFAULT}
    cost=22
    usage=scout
    unit_description= _ "Some goblins have discovered that the skills gained on the hunt can be put to use on the battlefield. While goblins are not overly welcome among the raiding parties, they are undeniably useful and so their presence is tolerated, if grudgingly."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/goblins-steppe/flanker.png" "units/goblins-steppe/flanker.png" {SOUND_LIST:GOBLIN_HIT} }
    [attack]
        name=knife
        #textdomain wesnoth-units
        description= _ "knife"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=harpoon
        #textdomain wesnoth-Invasion_from_the_Unknown
        description= _ "harpoon"
        icon=attacks/dagger-thrown-human.png
        type=pierce
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [attack_filter]
            name=knife
        [/attack_filter]
        [frame]
            begin=-200
            end=-150
            image="units/goblins-steppe/flanker.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/goblins-steppe/flanker.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/goblins-steppe/flanker.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/goblins-steppe/flanker.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [attack_filter]
            name=harpoon
        [/attack_filter]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/goblins-steppe/flanker.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/goblins-steppe/flanker.png"
                sound=dagger-swish.wav
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/goblins-steppe/flanker.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/goblins-steppe/flanker.png"
        [/frame]
        {SOUND:SLOW}
    [/attack_anim]
[/unit]
