#define TEAM_AI_KAMIKAZE
    {ai/aliases/stable_singleplayer.cfg}

    [ai]
        [goal]
            [criteria]
                canrecruit=yes
            [/criteria]
            value=7.0
        [/goal]

        {AI_SIMPLE_ALWAYS_ASPECT aggression 1.0}
        {AI_SIMPLE_ALWAYS_ASPECT caution    0.0}
        {AI_SIMPLE_ALWAYS_ASPECT grouping   no}

        {AI_NO_SCOUTS}
    [/ai]
#enddef
