#textdomain wesnoth-Invasion_from_the_Unknown

# --------------- COCKATRICE WARM-UP FIGHT CODE ---------------

[event]
    {SIGHTED_SUF_BY_PLAYER (type=Cockatrice)}
    {REDRAW}
    [scroll_to_unit]
        x=$x1
        y=$y1
    [/scroll_to_unit]
    {DELAY 500}

    {MSG_UNIT (Mal Keshar) ( _ "Hey, what do we have here... Cockatrices! Cockatrices are coming!")}
    {MSG_UNIT Galas ( _ "Cocka... what?")}
    {MSG_UNIT Elynia ( _ "Bird-like reptilian creatures said to be able to turn anything into stone with a single gaze of their eyes. It is also said that they do not exist unless created by magical means.")}
    {MSG_UNIT (Mal Keshar) ( _ "Whatever. Attention everyone! Don't look upon their eyes!")}
    {MSG_UNIT Elynia ( _ "I think I can remove the effects of their magic with a spell.")}
    {MSG_UNIT (Mal Keshar) ( _ "Sounds like a plan. We should be able to dispel their magic if we can find the object to which they are bound. All cockatrices must be bound to a physical object when created. So...")}

    [objectives]
        side=1
        {OBJECTIVE_TO_WIN ( _ "Find the object which holds the magic of the Cockatrices and destroy it")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Elynia")}
        {OBJECTIVE_TO_LOSE ( _ "Elynia is stoned by the Chimera or a Cockatrice")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Mal Keshar")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Lédinor")}
    [/objectives]
[/event]

[event]
    {SIGHTED_SUF_BY_PLAYER (type=Chimera)}
    {REDRAW}
    [scroll_to_unit]
        x=$x1
        y=$y1
    [/scroll_to_unit]
    {DELAY 500}

    {MSG_UNIT Erathan ( _ "What the hell is that thing?")}
    {MSG_UNIT Lédinor ( _ "That thing seems to be a creature made from parts of assorted monsters. Not a nice thing to know...")}
    {MSG_UNIT (Mal Keshar) ( _ "How can it be... attention everyone! The power of these creatures seems to come from that abomination!")}
    {MSG_UNIT Elynia ( _ "Are you sure? No one has ever bound the stone to the living!")}
    {MSG_UNIT (Mal Keshar) ( _ "There is always a first time.")}

    [objectives]
        side=1
        {OBJECTIVE_TO_WIN ( _ "Kill the Chimera")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Elynia")}
        {OBJECTIVE_TO_LOSE ( _ "Elynia is stoned by the Chimera or a Cockatrice")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Mal Keshar")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Lédinor")}
    [/objectives]
[/event]

[event]
    name=stone
    [filter]
        description=Elynia
    [/filter]
    {MSG_UNIT Elynia ( _ "I can't... hold against it...")}
    {ENDLEVEL_DEFEAT}
[/event]

[event]
    name=die
    [filter]
        type=Chimera
    [/filter]
    [terrain]
        terrain=Ryd # wmllint: ignore
        x=19,20
        y=13,12
    [/terrain]
    {MSG_SPEAKER second_unit ( _ "Look!")}
    [kill]
        type=Cockatrice
        animate=yes
    [/kill]
    {DISALLOW_RECRUIT 2 Cockatrice}
    [unstone]
    [/unstone]
    {MSG_SPEAKER Elynia ( _ "As you suspected, Malin. The death of the chimera caused all the other cockatrices to collapse.")}
    {MSG_SPEAKER (Mal Keshar) ( _ "Certainly. The creator must have bound them to the leading chimera. Odd, for cockatrices must be bound to an object which has their dreaded power. There has never been a case in which this object was a similar creature, up to now. This could only be done by an uncannily powerful magic.")}
    {MSG_SPEAKER Galas ( _ "Those gates...")}
    {SCROLL_TO 41 21}
    {DELAY 500}
    {MSG_SPEAKER Galas ( _ "I wonder what is awaiting behind them.")}
    {MSG_SPEAKER Elynia ( _ "There is only one way to find out.")}
    [objectives]
        side=1
        {OBJECTIVE_TO_WIN ( _ "Find the Shadow Master and put a definitive end to his empire of evilness")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Galas")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Elynia")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Mal Keshar")}
        {OBJECTIVE_TO_LOSE ( _ "Death of Lédinor")}
    [/objectives]
[/event]

[event]
    name=new turn
    first_time_only=no
    [unstone]
    [/unstone]
[/event]
