#textdomain wesnoth-Invasion_from_the_Unknown

#define HEADER_NEW_OBJECTIVES
    summary= _ "New objectives:"
#enddef
#define HEADER_CURRENT_OBJECTIVES
    summary= _ "Current objectives:"
#enddef
#define HEADER_INITIAL_OBJECTIVES
    summary= _ "Initial objectives:"
#enddef
#define HEADER_FINAL_OBJECTIVES
    summary= _ "Final objectives:"
#enddef
