#textdomain wesnoth-Invasion_from_the_Unknown

#define HEADER_NEW_OBJECTIVES
    summary= _ "New objectives:"
#enddef
#define HEADER_CURRENT_OBJECTIVES
    summary= _ "Current objectives:"
#enddef
#define HEADER_INITIAL_OBJECTIVES
    summary= _ "Initial objectives:"
#enddef

#define OBJECTIVE_NOTES _NOTES_TEXT
    note="<b>" + _ "Scenario notes:" + "</b>
"+{_NOTES_TEXT}
#enddef

#define OBJECTIVE_OR
    [objective]
        bullet=""
        description="<small>"+_"or"+"</small>"
        red,green,blue=255,255,255
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_BONUS _DESCRIPTION
    [objective]
        red,green,blue=100,100,255
        description={_DESCRIPTION} # wmllint: noconvert
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_BONUS_COMPLETED _DESCRIPTION
    [objective]
        red,green,blue=100,100,255
        description="<s>"+{_DESCRIPTION}+"</s>" # wmllint: noconvert
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_VICTORY _TEXT
    [objective]
        description={_TEXT}
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_VICTORY_COMPLETED _TEXT
    [objective]
        description="<s>"+{_TEXT}+"</s>"
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_VICTORY_END_OF_TURNS
    [objective]
        description= _ "Resist until the end of turns"
        condition=win
        show_turn_counter=yes
    [/objective]
#enddef

#define OBJECTIVE_SHOW_IF _COND
    [+objective]
        [show_if]
            {_COND}
        [/show_if]
    [/objective]
#enddef

#define OBJECTIVE_DEFEAT _TEXT
    [objective]
        description={_TEXT}
        condition=lose
    [/objective]
#enddef

#define OBJECTIVE_OPTIONAL _TEXT
    [objective]
        {ALTERNATIVE_OBJECTIVE_CAPTION}
        description={_TEXT} # wmllint: ignore
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=yes,40
    [/gold_carryover]
#enddef

#define OBJECTIVE_CARRYOVER_NO_BONUS
    [gold_carryover]
        bonus,carryover_percentage=no,40
    [/gold_carryover]
#enddef

#define OBJECTIVE_NO_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=no,0
    [/gold_carryover]
#enddef

#define OBJECTIVE_FULL_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=no,100
    [/gold_carryover]
#enddef

#define OBJECTIVE_NOTE _DESCRIPTION
    [note]
        description={_DESCRIPTION}
    [/note]
#enddef

#define OBJECTIVES _OBJECTIVES
    [objectives]
        side=1
        {_OBJECTIVES}
    [/objectives]
#enddef

#define NO_UNIT_CARRYOVER_NOTE
    {OBJECTIVE_NOTE ( _ "You will not be able to recall any units from this scenario later")}
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
