#textdomain wesnoth-Invasion_from_the_Unknown

#define PLAYER_RISE_UP_EXCLUSION_LIST
    [not]
        id=Galas
    [/not]
    [not]
        id=Mal Keshar
    [/not]
    [not]
        id=Althurin
    [/not]
    [not]
        id=Elynia
    [/not]
    [not]
        id=Lédinor
    [/not]
    [not]
        id=Anlindë
    [/not]
    [not]
        id=Igor
    [/not]
    [not]
        id=King Asthorgar
    [/not]
    [not]
        id=Erathan
    [/not]
    [not]
        [filter_wml]
            undead_variation=null
            [or]
                [status]
                    not_living=yes
                [/status]
            [/or]
        [/filter_wml]
    [/not]
#enddef

#define PLAYER_RISE_UP_ENEMY_EXCLUSION_FILTER
    [not]
        #Basically not any type that has plague or eats its victim
        type=Walking Corpse,Soulless,Necromancer,Shadow Spawn,Shadow Courier,Master of Darkness
    [/not]
    [not]
        ability=feeding
    [/not]
#enddef

#define PLAYER_RISE_UP
    [event]
        name=die
        first_time_only=yes
        [filter]
            side=1
            {PLAYER_RISE_UP_EXCLUSION_LIST}
        [/filter]
        [filter_second]
            {PLAYER_RISE_UP_ENEMY_EXCLUSION_FILTER}
        [/filter_second]
        [filter_condition]
            [have_unit]
                id=Mal Keshar
                side=1
            [/have_unit]
        [/filter_condition]

        [message]
            speaker=Mal Keshar
            message= _ "Rise, rise from the ground!"
        [/message]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            side=1
            {PLAYER_RISE_UP_EXCLUSION_LIST}
        [/filter]
        [filter_second]
            {PLAYER_RISE_UP_ENEMY_EXCLUSION_FILTER}
        [/filter_second]
        [filter_condition]
            [have_unit]
                id=Mal Keshar
                side=1
            [/have_unit]
        [/filter_condition]

        [set_variables]
            name=temp_PRU
            [value]
                facing=$unit.facing
                gender=$unit.gender
                variation=$unit.undead_variation
                name=$unit.name
            [/value]
        [/set_variables]

        [kill]
            x,y=$x1,$y1
            animate=no
            fire_event=no
        [/kill]

        [sound]
            name=zombie-attack.wav
        [/sound]

        [unit]
            animate=yes
            attacks_left=0
            type=Walking Corpse
            x,y=$x1,$y1
            random_traits=yes
            moves=0
            resting=no
            side=1
            name=$temp_PRU.name
            facing=$temp_PRU.facing
            gender=$temp_PRU.gender
            variation=$temp_PRU.variation
        [/unit]

        {CLEAR_VARIABLE temp_PRU}
    [/event]
#enddef

#define SAD_MUSIC
    [music]
        play_once=yes
        immediate=yes
        name=sad.ogg
    [/music]
#enddef

#define HERO_DEFEAT_ENDLEVEL
    [endlevel]
        result=defeat
        music=sad.ogg,defeat.ogg,defeat2.ogg
    [/endlevel]
#enddef

#define DEATH_HANDLER_BASE _SUF _PRE_ACTIONS _POST_ACTIONS
    [event]
        name=last breath
        [filter]
            {_SUF}
        [/filter]

        {_PRE_ACTIONS}
    [/event]

    [event]
        name=die
        [filter]
            {_SUF}
        [/filter]

        {_POST_ACTIONS}
    [/event]
#enddef

# wmlindent: start ignoring

# Triggers defeat on the death of a player-owned unit identified by id. The
# side check is required to avoid breaking S23B.
#define HERO_DEFEAT_EVENT _ID _PRE_ACTIONS _POST_ACTIONS
    {DEATH_HANDLER_BASE (side,id=1,{_ID})
    (
        {_PRE_ACTIONS}
    ) (
        {_POST_ACTIONS}
        {HERO_DEFEAT_ENDLEVEL}
    )}
#enddef

# Like HERO_DEFEAT_EVENT but doesn't check the unit's side. Only really used
# for Althurin and King Asthorgar, who aren't always controlled by side 1.
#define ANY_SIDE_HERO_DEFEAT_EVENT _ID _PRE_ACTIONS _POST_ACTIONS
    {DEATH_HANDLER_BASE (id={_ID})
    (
        {_PRE_ACTIONS}
    ) (
        {_POST_ACTIONS}
        {HERO_DEFEAT_ENDLEVEL}
    )}
#enddef

# Plays incidental music on the death of a player-owned unit. Again, the side
# check is required to avoid breaking S23B.
#define MINOR_DEATH_EVENT _ID _PRE_ACTIONS _POST_ACTIONS
    {DEATH_HANDLER_BASE (side,id=1,{_ID})
    (
        {_PRE_ACTIONS}
    ) (
        {SAD_MUSIC}
        {_POST_ACTIONS} # Actions come last on purpose.
    )}
#enddef

#define DEATH:IGOR:A
    {MINOR_DEATH_EVENT Igor (
        [message]
            speaker=Igor
            message= _ "You failed to protect me. Aargh..."
        [/message]
    ) (
        [set_variables]
            mode=replace
            name=necro_store
            to_variable=unit
        [/set_variables]

        # Remove dying unit placeholder.
        [kill]
            x,y=$x1,$y1
        [/kill]

        [sound]
            name=zombie-attack.wav
        [/sound]

        [unit]
            animate=yes
            type=Walking Corpse
            x,y=$necro_store.x,$necro_store.y
            upkeep=$necro_store.upkeep
            random_traits=yes
            moves=0
            resting=no
            side=1
            name=$necro_store.name
            facing=$necro_store.facing
            variation=$necro_store.undead_variation
        [/unit]

        {CLEAR_VARIABLE necro_store}
    )}
#enddef

#define DEATH:IGOR:B
    {MINOR_DEATH_EVENT Igor (
        [message]
            speaker=Igor
            message= _ "Alas. It’s been my best time with you, friends..."
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "He, he, he..."
        [/message]
    ) (
        [message]
            speaker=Elynia
            message= _ "(<i>glaring</i>) Don’t do it."
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "Um... all right. May I ask <i>why</i>?"
        [/message]

        [message]
            speaker=Elynia
            message= _ "He was very helpful with us — more than I ever expected from anyone of his kind. It would be very unseemly for us to disturb his well-deserved rest."
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "As you wish, lady. Hmph."
        [/message]
    )}
#enddef

#define DEATH:IGOR:C
    {MINOR_DEATH_EVENT Igor (
        [message]
            speaker=Igor
            message= _ "Alas. I wish I could’ve seen the end with you..."
        [/message]
    ) ()}
#enddef

#define DEATH:MAL_KESHAR:A
    {HERO_DEFEAT_EVENT (Mal Keshar) (
        [message]
            speaker=Mal Keshar
            message= _ "Vanquished by these foul enemies... it should not have ended like this..."
        [/message]
    ) ()}
#enddef

#define DEATH:MAL_KESHAR:B
    {HERO_DEFEAT_EVENT (Mal Keshar) (
        [message]
            speaker=Mal Keshar
            message= _ "Oh, the sweet, cold embrace of death... it has been far too long..."
        [/message]
    ) ()}
#enddef

#define DEATH:ERATHAN:A
    {HERO_DEFEAT_EVENT Erathan (
        [message]
            speaker=Erathan
            message= _ "I am finished..."
        [/message]
    ) ()}
#enddef

#define DEATH:ERATHAN:B
    {MINOR_DEATH_EVENT Erathan (
        [message]
            speaker=Erathan
            message= _ "So this is the end of the road for me..."
        [/message]
    ) ()}
#enddef

#define DEATH:ELYNIA:A
    {HERO_DEFEAT_EVENT Elynia (
        [message]
            speaker=Elynia
            message= _ "The darkness... it is taking me away..."
        [/message]
    ) (
        [message]
            speaker=Galas
            message= _ "No! Elynia!"
        [/message]
    )}
#enddef

#define DEATH:ELYNIA:B
    {HERO_DEFEAT_EVENT Elynia (
        [message]
            speaker=Elynia
            message= _ "I’m sorry Galas... Hopefully you will be able to finish our journey without me..."
        [/message]
    ) ()}
#enddef

#define DEATH:ANLINDE
    {HERO_DEFEAT_EVENT Anlindë (
        [message]
            speaker=Anlindë
            message= _ "I suppose I should have seen this coming..."
        [/message]
    ) ()}
#enddef

#define DEATH:GALAS:A
    {HERO_DEFEAT_EVENT Galas (
        [message]
            speaker=Galas
            message= _ "I have much... left... to do—"
        [/message]
    ) ()}
#enddef

#define DEATH:GALAS:B
    {HERO_DEFEAT_EVENT Galas (
        [message]
            speaker=Galas
            message= _ "Why... did it have to end like this..."
        [/message]
    ) ()}
#enddef

#define DEATH:LEDINOR
    {HERO_DEFEAT_EVENT Lédinor (
        [message]
            speaker=Lédinor
            message= _ "It is the end for me. At last I shall rest..."
        [/message]
    ) ()}
#enddef

#define DEATH:ALTHURIN
    {ANY_SIDE_HERO_DEFEAT_EVENT Althurin (
        [message]
            speaker=Althurin
            message= _ "Well, at least I tried... Ugh—"
        [/message]
    ) ()}
#enddef

#define DEATH:KING_ASTHORGAR
    {ANY_SIDE_HERO_DEFEAT_EVENT (King Asthorgar) (
        [message]
            speaker=King Asthorgar
            message= _ "Argh! This is the end for me."
        [/message]
    ) (
        [message]
            speaker=Galas
            message= _ "We were supposed to protect the king of Herthgar!"
        [/message]
    )}
#enddef

# wmlindent: stop ignoring

#define DEATHS_ACT_0
    {DEATH:GALAS:A}
    {DEATH:ANLINDE}
#enddef

#define DEATHS_ACT_1
    {DEATH:GALAS:A}
    {DEATH:MAL_KESHAR:A}
    {DEATH:ANLINDE}
#enddef

#define DEATHS_ACT_2_1
    {DEATH:GALAS:A}
    {DEATH:MAL_KESHAR:A}
    {DEATH:IGOR:A}
    {DEATH:ANLINDE}
#enddef

#define DEATHS_ACT_2_2
    {DEATH:GALAS:A}
    {DEATH:ELYNIA:A}
    {DEATH:MAL_KESHAR:A}
    {DEATH:IGOR:A}
    {DEATH:ANLINDE}
#enddef

#define DEATHS_ACT_3
    {DEATH:GALAS:A}
    {DEATH:ELYNIA:A}
    {DEATH:MAL_KESHAR:A}
    {DEATH:ERATHAN:A}
    {DEATH:IGOR:B}
#enddef

#define DEATHS_ACT_4
    {DEATH:GALAS:B}
    {DEATH:ELYNIA:B}
    {DEATH:MAL_KESHAR:B}
    {DEATH:ERATHAN:B}
    {DEATH:IGOR:C}
    {DEATH:LEDINOR}
#enddef

#define DEATHS_DWARVES
    {DEATH:ALTHURIN}
    {DEATH:KING_ASTHORGAR}
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
