#textdomain wesnoth-Invasion_from_the_Unknown

#define NO_ECONOMY
    gold,village_gold=0,0
    {NO_INCOME}
#enddef

#define SET_RECRUIT_LIST _SIDE _LIST
    [modify_side]
        side={_SIDE}
        recruit={_LIST}
    [/modify_side]
#enddef

#define REMOVE_RECRUIT_LIST _SIDE
    [set_recruit]
        side={_SIDE}
        recruit=""
    [/set_recruit]
#enddef

#define ALLOW_RECRUIT _SIDE _LIST
    [allow_recruit]
        side={_SIDE}
        type={_LIST}
    [/allow_recruit]
#enddef

#define DISALLOW_RECRUIT _SIDE _LIST
    [disallow_recruit]
        side={_SIDE}
        type={_LIST}
    [/disallow_recruit]
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
