#textdomain wesnoth-Invasion_from_the_Unknown

# wmlindent: start ignoring

#define SPECIAL_NOTES_DREAD
    _ " When this unit’s dreadful attack is used on offensive, it decreases the damage the unit may take in retaliation, but only if the victim is of equal or lesser level." #enddef

# wmlindent: stop ignoring

# kate: indent-mode normal; encoding utf-8; space-indent on;
