#textdomain wesnoth-Invasion_from_the_Unknown

# Wesmere undead taint mechanic implementation

#define TAINT:NOTE
	{OBJECTIVE_NOTE ( _ "Undead units (except Liches) are subject to taint in this scenario")}
	{OBJECTIVE_NOTE_SHOW_IF {TAINT:CHECK_GLOBAL_FLAG}}
#enddef

#define TAINT:SHOW_HELP
	[fire_event]
		id=taint:help
	[/fire_event]
#enddef

#define TAINT:CHECK_GLOBAL_FLAG
	{VARIABLE_BOOLEAN_EQUALS wesmere_taint yes}
#enddef

#define TAINT:ON
	{VARIABLE wesmere_taint yes}
#enddef

#define TAINT:OFF
	{VARIABLE wesmere_taint no}
#enddef

#define TAINT:STRICT_TAINT_SUF
	status=taint_1,taint_2,taint_3,taint_4
#enddef

#define TAINT:MATCH_SUF
	{NOT_ON_RECALL_LIST}

	race=undead,elvish_spirits

	[not]
		type=Lich,Ancient Lich,Archaic Lich,Undying Eradicator,Tenebrous Everbane
	[/not]

	[not]
		[filter_wml]
			[variables]
				immune_to_taint=yes
			[/variables]
		[/filter_wml]
	[/not]
#enddef

#define TAINT:SAFE_RANGE_SUF
	lua_function="wesmere_unit_within_hero_range"
#enddef

#define TAINT:CLEANSE_RANGE_SUF
	[filter_adjacent]
		id=Mal Keshar
		[or]
			id=Elynia
		[/or]
	[/filter_adjacent]
#enddef

#define TAINT:CONTROLLER
	[event]
		id=taint:menu_setup
		name=prestart

		[set_menu_item]
			id=wmi_taint_help
			description= _ "About Taint"
			image="icons/menu-taint.png"
			[show_if]
				{TAINT:CHECK_GLOBAL_FLAG}
			[/show_if]
			[command]
				[redraw][/redraw]

				[allow_undo][/allow_undo]

				{TAINT:SHOW_HELP}
			[/command]
		[/set_menu_item]
	[/event]

	[event]
		id=taint:player_turn
		name=side 1 turn
		first_time_only=no

		[filter_condition]
			{TAINT:CHECK_GLOBAL_FLAG}
		[/filter_condition]

		[_apply_taint]
			{TAINT:MATCH_SUF}
			[not]
				{TAINT:SAFE_RANGE_SUF}
			[/not]
			side=1
		[/_apply_taint]
	[/event]

	[event]
		id=taint:player_refresh
		name=side 1 turn refresh
		first_time_only=no

		[filter_condition]
			{TAINT:CHECK_GLOBAL_FLAG}
		[/filter_condition]

		# Apply full cleansing first
		[_remove_taint]
			{TAINT:MATCH_SUF}
			{TAINT:STRICT_TAINT_SUF}
			{TAINT:CLEANSE_RANGE_SUF}
			side=1
		[/_remove_taint]

		# Apply gradual cleansing on the remaining tainted units
		[_remove_taint]
			{TAINT:MATCH_SUF}
			{TAINT:STRICT_TAINT_SUF}
			{TAINT:SAFE_RANGE_SUF}
			side=1
		[/_remove_taint]
	[/event]

	[event]
		id=taint:advance
		name=advance
		first_time_only=no
		[filter]
			side=1
			{TAINT:STRICT_TAINT_SUF}
		[/filter]

		[_remove_taint]
			x,y=$x1,$y1
			full=yes
			silent=yes
		[/_remove_taint]
	[/event]

	[event]
		id=taint:victory_cleanup
		name=victory

		[_remove_taint]
			{NOT_ON_RECALL_LIST}
			{TAINT:STRICT_TAINT_SUF}
			full=yes
			silent=yes
		[/_remove_taint]

		{CLEAR_VARIABLE wesmere_taint}

		{REMOVE_MENU_ITEM wmi_taint_help}
	[/event]

	[event]
		id=taint:help
		first_time_only=no

		{GAMEPLAY_INFO misc/tutorial-wesmere-taint.webp
		( _ "Undead units — except Liches — that spend a turn more than six tiles away from Mal Keshar or Elynia will be afflicted with a stackable <b>taint</b> effect, which weakens their attack damage and hitpoints by 10%. Once the effect reaches its <b>fourth</b> level, you will permanently and irreversibly lose control of the unit!

To remove the taint effect, move the unit back into range, which will clear one level of the effect each turn. Undead units which start their turn adjacent to Mal Keshar or Elynia, gain a level, or attain an AMLA upgrade will have the taint effect fully cleared instantly.")}
	[/event]
#enddef
