#textdomain wesnoth-Invasion_from_the_Unknown

# Visual effects utility macros

#define COLOR_SHIFT V
    [colour_adjust]
        red={V}
        green={V}
        blue={V}
    [/colour_adjust]
#enddef

#define REVEAL X Y
    [remove_shroud]
        x={X}
        y={Y}
        side=1
    [/remove_shroud]

    {SCROLL_TO_LOCATION_AND_RETURN_TO_PRIMARY_UNIT {X} {Y} }
#enddef

#define REVEAL_AREA X1 Y1 X2 Y2
    # X0 = (X2 - X1) / 2 + X1 = X2 / 2 - X1 / 2 + X1 = X2 / 2 + -X1 / 2 + 2 X1 / 2 = X2 / 2 + X1 / 2
    # Y0 = (Y2 + Y1) / 2
    #
    # This should be little runtime load in terms of CPU time

    {VARIABLE     temp_REVEAL_AREA_center.x {X2} }
    {VARIABLE_ADD temp_REVEAL_AREA_center.x {X1} }
    {VARIABLE     temp_REVEAL_AREA_center.y {Y2} }
    {VARIABLE_ADD temp_REVEAL_AREA_center.y {Y1} }

    {VARIABLE_DIV temp_REVEAL_AREA_center.x 2}
    {VARIABLE_DIV temp_REVEAL_AREA_center.y 2}

    [remove_shroud]
        x={X1}-{X2}
        y={Y1}-{Y2}
        side=1
    [/remove_shroud]

    {SCROLL_TO_LOCATION_AND_RETURN_TO_PRIMARY_UNIT $temp_REVEAL_AREA_center.x $temp_REVEAL_AREA_center.y}

    {CLEAR_VARIABLE temp_REVEAL_AREA_center}
#enddef

# Fade out the screen, ending in a black surface
#define SCREEN_FADE_OUT _STEP
    [command]
        {VARIABLE     vidsurface_fxxor_i          0     }
        {VARIABLE     vidsurface_fxxor_cont       yes   }
        {VARIABLE     vidsurface_fxxor_stoprange -255   }
        {VARIABLE_ADD vidsurface_fxxor_stoprange {_STEP} }

        [while]
            {VARIABLE_NUM_GREATER_THAN vidsurface_fxxor_i -256}
            {VARIABLE_BOOLEAN_EQUALS vidsurface_fxxor_cont yes}
            [do]
                [colour_adjust]
                    red,green,blue=$vidsurface_fxxor_i|,$vidsurface_fxxor_i|,$vidsurface_fxxor_i
                [/colour_adjust]
                {VARIABLE_ADD vidsurface_fxxor_i -{_STEP} }
                [if]
                    {VARIABLE_NUM_LESS_THAN vidsurface_fxxor_i $vidsurface_fxxor_stoprange}
                    [then]
                        {VARIABLE vidsurface_fxxor_cont no}
                    [/then]
                [/if]
            [/do]
        [/while]
        [colour_adjust]
            red,green,blue=-255,-255,-255
        [/colour_adjust]
        {CLEAR_VARIABLE vidsurface_fxxor_i}
    [/command]
#enddef

# Fade in the screen, starting from a black surface
#define SCREEN_FADE_IN _STEP
    [command]
        {VARIABLE vidsurface_fxxor_i         -255    }
        {VARIABLE vidsurface_fxxor_cont       yes    }
        {VARIABLE vidsurface_fxxor_stoprange -{_STEP} }
        [while]
            {VARIABLE_NUM_LESS_OR_EQUAL_THAN vidsurface_fxxor_i 0}
            {VARIABLE_BOOLEAN_EQUALS vidsurface_fxxor_cont yes}
            [do]
                [colour_adjust]
                    red,green,blue=$vidsurface_fxxor_i|,$vidsurface_fxxor_i|,$vidsurface_fxxor_i
                [/colour_adjust]
                {VARIABLE_ADD vidsurface_fxxor_i {_STEP} }
                [if]
                    {VARIABLE_NUM_GREATER_THAN vidsurface_fxxor_i $vidsurface_fxxor_stoprange}
                    [then]
                        {VARIABLE vidsurface_fxxor_cont no}
                    [/then]
                [/if]
            [/do]
        [/while]
        [colour_adjust]
            red,green,blue=0,0,0
        [/colour_adjust]
        {CLEAR_VARIABLE vidsurface_fxxor_i}
    [/command]
#enddef

#define TREMOR_HEAVY
    [sound]
        name="rumble.ogg"
    [/sound]
    [scroll]
        x=5
        y=0
    [/scroll]
    [scroll]
        x=5
        y=0
    [/scroll]
    [scroll]
        x=5
        y=0
    [/scroll]
    [scroll]
        x=5
        y=0
    [/scroll]
    [scroll]
        x=-10
        y=0
    [/scroll]
    [scroll]
        x=-10
        y=0
    [/scroll]
    [scroll]
        x=-10
        y=0
    [/scroll]
    [scroll]
        x=-10
        y=0
    [/scroll]
    [scroll]
        x=5
        y=5
    [/scroll]
    [scroll]
        x=5
        y=5
    [/scroll]
    [scroll]
        x=5
        y=5
    [/scroll]
    [scroll]
        x=5
        y=5
    [/scroll]
    [scroll]
        x=0
        y=-10
    [/scroll]
    [scroll]
        x=0
        y=-10
    [/scroll]
    [scroll]
        x=0
        y=-10
    [/scroll]
    [scroll]
        x=0
        y=-10
    [/scroll]
    [scroll]
        x=0
        y=5
    [/scroll]
    [scroll]
        x=0
        y=5
    [/scroll]
    [scroll]
        x=0
        y=5
    [/scroll]
    [scroll]
        x=0
        y=5
    [/scroll]
#enddef

#define CHAOS_FLAG
    {FLAG_VARIANT undead}
#enddef

#define DWARVISH_FLAG
    {FLAG_VARIANT knalgan}
#enddef

#define ARAGWAITHI_FLAG
    {FLAG_VARIANT loyalist}
#enddef

#ifndef QUAKE
#define QUAKE SOUND
    # Visuals and sound for an earth tremor.
    [sound]
        name={SOUND}
    [/sound]
    [scroll]
        x=5
        y=0
    [/scroll]
    [scroll]
        x=-10
        y=0
    [/scroll]
    [scroll]
        x=5
        y=5
    [/scroll]
    [scroll]
        x=0
        y=-10
    [/scroll]
    [scroll]
        x=0
        y=5
    [/scroll]
#enddef
#endif
