#textdomain wesnoth-Invasion_from_the_Unknown

[race]
    id=verlissh
    male_name= _ "race^Verlissh"
    female_name= _ "race+female^Verlissh"
    plural_name= _ "race^Verlisshi"
    description= _ "In order to expand its frontiers and defend its territory more effectively, the Chaos Empire has resorted to summoning all sorts of previously unseen creatures to support its vast military force. Some are said to come from the darkest depths of Irdya; others are rumored to hail from the unknown lands beyond the sky itself. Very little is known for certain about these monsters beyond their evident connection to the Lorekeepers’ arcane arts."
    undead_variation=null
    ignore_global_traits=yes
    num_traits=1
    {TRAIT_FEARLESS}
    {TRAIT_STRONG}
    {TRAIT_RESILIENT}
[/race]

[movetype]
    name=verlissh_smallfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=80
        shallow_water=80
        reef=70
        swamp_water=80
        flat=60
        sand=60
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        unwalkable=80
        impassable=60
        fungus=50
    [/defense]

    [resistance]
        blade=100
        pierce=80
        impact=90
        fire=80
        cold=90
        arcane=100
    [/resistance]
[/movetype]

# Include units WML directory
{INCLUDE_LOCAL /units/alien-verlissh}
