#textdomain wesnoth-Invasion_from_the_Unknown

[unit_type]
    id=Brain Drainer
    name= _ "Brain Drainer"
    race=monster
    image="units/monsters/leech-brain-drainer.png"
    hitpoints=58
    movement_type=mountainfoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=57
    usage=fighter
    [resistance]
        arcane=90
    [/resistance]
    undead_variation=null
    description= _ "Any expert can readily tell that ‘giant leech’ is a complete misnomer, as these creatures bear absolutely no relation to real leeches found in water bodies on the surface. Most people who have had close encounters with them have either managed to evade detection and flee, or suffered a swift and grisly demise — because of this, knowledge about their biology and behavior is extremely limited.

With that said, thanks to the involuntary efforts of a number of hapless explorers it is now known that the preferred feeding method of larger individuals of this species involves grabbing prey by the head with their sucker and swiftly grinding it to bits. Owing to this gruesome habit, some have taken to calling them ‘brain drainers’."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/monsters/leech-brain-drainer.png" "units/monsters/leech-brain-drainer.png" hiss-hit.wav }
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_FEEDING}
    [/abilities]
    [attack]
        icon=attacks/fangs.png
        name=sucker
        description= _ "sucker"
        type=pierce
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=drainer
        [/filter_attack]
        start_time=-225
        [frame]
            duration=125
            image="units/monsters/leech-brain-drainer.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=300
                image="units/monsters/leech-brain-drainer.png"
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=300
                image="units/monsters/leech-brain-drainer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
