#textdomain wesnoth-Invasion_from_the_Unknown

[unit_type]
    id=Giant Leech
    name= _ "Giant Leech"
    race=monster
    image="units/monsters/leech-giant.png"
    hitpoints=41
    movement_type=mountainfoot
    movement=6
    experience=110
    level=2
    alignment=chaotic
    advances_to=Brain Drainer
    cost=28
    usage=fighter
    [resistance]
        arcane=90
    [/resistance]
    undead_variation=null
    description= _ "Down in the deepest reaches of Irdya, it is highly common for cave systems to be shrouded in eternal darkness, except in any sections where they intersect volcanic formations. In such environments, eyesight is not only unnecessary but can even prove to be a hindrance due to the fragile structure of the responsible organs. Thus it comes as no surprise that many creatures have forgone visual interaction with their surroundings and instead rely exclusively on their senses of smell and hearing.

Naturally, for surface dwellers the sole idea of large eyeless creatures roaming in the dark is unnerving in its own right. If one were to add a lamprey-like mouth and a primal thirst for blood, the grim resulting picture would cause many a prospective spelunker to quit on the spot. Fortunately, things like that are only ever described in stories told by old retired dwarvish adventurers at dingy taverns — surely, they are merely fabrications of booze-addled minds looking for attention."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/monsters/leech-giant.png" "units/monsters/leech-giant.png" hiss-hit.wav }
    [abilities]
        {ABILITY_FEEDING}
    [/abilities]
    [attack]
        icon=attacks/fangs.png
        name=sucker
        description= _ "sucker"
        type=pierce
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sucker
        [/filter_attack]
        start_time=-225
        [frame]
            duration=125
            image="units/monsters/leech-giant.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=300
                image="units/monsters/leech-giant.png"
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=300
                image="units/monsters/leech-giant.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
