#textdomain wesnoth-Invasion_from_the_Unknown

[unit]
    id=Mother Mudcrawler
    name= _ "Mother Mudcrawler"
    race=monster
    image="units/monsters/mother-mudcrawler.png"
    hitpoints=47
    movement_type=scuttlefoot
    movement=4
    experience=150
    level=2
    alignment=neutral
    advanceto=null
    {AMLA_DEFAULT}
    [advancefrom]
        unit=Giant Mudcrawler
        experience=120
    [/advancefrom]
    cost=32
    die_sound=squishy-hit.wav
    undead_variation=null
    usage=archer
    unit_description= _ "As mudcrawlers are nothing but magical constructs of soil and water, they can merge into a single bigger entity when it is necessary to defeat a tough foe. Obviously this represents great danger, as with the adequate number they can form a major mudcrawler big as a tree, more than enough to crush a brave mounted warrior with a single strike of their composite fist."
    {DEFENSE_ANIM "units/monsters/mother-mudcrawler.png" "units/monsters/mother-mudcrawler.png" squishy-hit.wav }
    [attack]
        name=fist
        #textdomain wesnoth-units
        description=_"fist"
        icon=attacks/mud-glob.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=mud glob
        description=_"mud glob"
        icon=attacks/mud-glob.png
        type=impact
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [attack_filter]
            name=mud glob
        [/attack_filter]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/mud-glob.png"
            image_diagonal="projectiles/mud-glob.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/monsters/mother-mudcrawler.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/monsters/mother-mudcrawler.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [attack_filter]
            name=fist
        [/attack_filter]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/monsters/mother-mudcrawler.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/monsters/mother-mudcrawler.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/monsters/mother-mudcrawler.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/monsters/mother-mudcrawler.png"
        [/frame]
    [/attack_anim]
[/unit]
