# wmllint: no translatables
# Easter egg unit - do not localize
[unit_type]
    id=Tux
    name="Tux" # wmllint: ignore
    race=monster
    image="units/monsters/tux.png"
    hitpoints=64
    movement_type=smallfoot
    movement=8
    experience=512
    advances_to=null
    {AMLA_DEFAULT}
    level=4
    alignment=neutral
    cost=1024
    usage=fighter
    hide_help=yes
    undead_variation=null
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae metus facilisis, sollicitudin arcu vitae, accumsan quam. Nam erat metus, euismod ut cursus accumsan, pulvinar nec nisl. Quisque sollicitudin nunc in metus vulputate, sit amet ornare turpis congue. Sed metus lorem, varius in ullamcorper et, cursus a purus. Morbi ac venenatis ipsum. Etiam dui diam, feugiat quis nibh et, imperdiet facilisis nulla. Mauris at ligula ut tortor auctor semper vel non arcu.

Proin eu velit vel est varius accumsan. Vivamus aliquet nec ipsum sit amet cursus. Nullam auctor ullamcorper tempor. Aenean sollicitudin, velit quis sodales accumsan, risus augue dapibus metus, ac ultrices nibh ante quis eros. Nunc porta bibendum congue. Sed eu est rutrum, sollicitudin risus ac, lacinia ligula. Vestibulum imperdiet mi quis ligula accumsan, vel imperdiet augue molestie. Quisque dignissim dapibus orci, vel porttitor lacus egestas a. Quisque turpis velit, pellentesque non sapien sed, mattis elementum mauris."
    [attack]
        name=general protection fault
        description="general protection fault" # wmllint: ignore
        type=arcane
        range=melee
        damage=4096
        number=13
        [specials]
            {WEAPON_SPECIAL_ALWAYS_HITS}
        [/specials]
    [/attack]
    [attack]
        name=page fault
        description="page fault" # wmllint: ignore
        type=arcane
        range=ranged
        damage=4096
        number=14
        [specials]
            {WEAPON_SPECIAL_ALWAYS_HITS}
        [/specials]
    [/attack]

    {VERLISSH_MACHINE_STANDING_ANIMATION "units/monsters/tux.png"}
    {VERLISSH_MACHINE_DEATH_ANIMATION "units/monsters/tux.png"}
    {VERLISSH_MACHINE_DEFENSE_ANIMATION "units/monsters/tux.png"}

    [attack_anim]
        [filter_attack][/filter_attack]
        {VERLISSH_MACHINE_ENERGY_ANIMATION "units/monsters/tux.png"}
    [/attack_anim]
[/unit_type]
