#textdomain wesnoth

{themes/macros.cfg}

# WARNING: this WML file is supposed to be cached at global level! If it gets
# corrupted, it will be necessary to remove it completely.

# Macro names prefixed with my name a la Darth Fool's theme id.

#ifndef DEFAULT_FONT_NORMAL
#define DEFAULT_FONT_NORMAL
    14 #enddef
#endif
#ifndef DEFAULT_FONT_SMALL
#define DEFAULT_FONT_SMALL
    12 #enddef
#endif
#ifndef DEFAULT_FONT_TINY
#define DEFAULT_FONT_TINY
    10 #enddef
#endif

    # For Small-UI builds
#ifndef DEFAULT_FONT320_NORMAL
#define DEFAULT_FONT320_NORMAL
    8 #enddef
#endif
#ifndef DEFAULT_FONT320_SMALL
#define DEFAULT_FONT320_SMALL
    7 #enddef
#endif
#ifndef DEFAULT_FONT320_TINY
#define DEFAULT_FONT320_TINY
    7 #enddef
#endif

#ifdef SM_THEME_PARTIALRESOLUTION_CODE
    #undef SM_THEME_PARTIALRESOLUTION_CODE
#endif

#ifdef SM_THEME_RESOLUTION_CODE
    #undef SM_THEME_RESOLUTION_CODE
#endif

#define SM_THEME_PARTIALRESOLUTION_CODE XRES YRES INHERIT_XRES INHERIT_YRES
    id="{XRES}x{YRES}"
    width="{XRES}"
    height="{YRES}"
    inherits="{INHERIT_XRES}x{INHERIT_YRES}"
#enddef

#define SM_THEME_RESOLUTION_CODE XRES YRES
    id="{XRES}x{YRES}"
    width="{XRES}"
    height="{YRES}"

    [screen]
        id=screen
        rect="0,0,{XRES},{YRES}"
    [/screen]
#enddef
